<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Dispatcher</filter-name>
        <filter-class>dispatcher.Dispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Dispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServeCard</servlet-name>
        <servlet-class>getData.ServeCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCard</servlet-name>
        <servlet-class>getData.SaveCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCards</servlet-name>
        <servlet-class>getData.MyCards</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveCard</servlet-name>
        <url-pattern>/SaveCard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCard</servlet-name>
        <servlet-class>getData.EditCard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCard</servlet-name>
        <url-pattern>/EditCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeCard</servlet-name>
        <url-pattern>/ServeCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCards</servlet-name>
        <url-pattern>/MyCards</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>authentication.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>authentication.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>authentication.Register</servlet-class>
    </servlet>
</web-app>
